@model IEnumerable<GundamShop.Models.GUNDAM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



@Html.Action("FeaturedProducts","GundamShop")
<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            @Html.Action("LatestProducts", "GundamShop")
            @Html.Action("BestSellerProducts", "GundamShop")
            @Html.Action("MostWatchedProducts", "GundamShop")   
        </div>
    </div>
</section>
<!-- Latest Product Section End -->